{% extends 'master' %}

{% block content %}
  <h1>Névjegy</h1>

  <div class="list-group">
      <h4 class="list-group-item-heading">Alkalmazások fejlesztése beadandó feladat</h4>
      <p class="list-group-item-text">
      Tengely Alex MFXX5I
      </p>
  </div>


{% endblock %}