{% extends 'master' %}
{% block content %}
<script src="/downloaded/validator.min.js"></script>
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>#}
{% if old('errors') %}
<div class="alert alert-danger">
   <ul>
      {% for error in old('errors') %}
      <li><strong>Hiba!</strong> {{ error.message }}</li>
      {% endfor %}
   </ul>
</div>
{% endif %}
<form class="form-horizontal" method="POST" role="form" data-toggle="validator">
   {{ csrfField }}
   <fieldset>
      {% if entityType=="employee" %}
      <legend>Dolgozó módosítása</legend>
      <div class="form-group">
         <label class="col-lg-2 control-label">Felhasználónév</label>
         <div class="col-lg-10">
            <input type="text" class="form-control" id="inputUsername" name="username" value="{{ entity.username }}" placeholder="Felhasználónév" readonly>
         </div>
      </div>
      <div class="form-group">
         <label class="col-lg-2 control-label" for="inputFullname">Teljes név</label>
         <div class="col-lg-10">
            <input type="text" class="form-control" id="inputFullname" name="fullname" value="{{ entity.fullname }}" placeholder="Teljes név" required data-required-error="A mező kitöltése kötelező!">
            <div class="help-block with-errors"></div>
         </div>
      </div>
      <div class="form-group">
         <label class="col-lg-2 control-label">Email</label>
         <div class="col-lg-10">
            <input type="email" class="form-control" id="inputEmail" name="email" value="{{ entity.email }}" placeholder="Email">
         </div>
      </div>
      <div class="form-group">
         <label class="col-lg-2 control-label">Telefon</label>
         <div class="col-lg-10">
            <input type="text" class="form-control" id="inputTelephone" name="telephone" value="{{ entity.telephone }}" placeholder="Telefon">
         </div>
      </div>
      <div class="form-group">
         <label class="col-lg-2 control-label" for="inputPassword">Jelszó</label>
         <div class="col-lg-10">
            <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Jelszó" required data-required-error="A mező kitöltése kötelező!">
            <div class="help-block with-errors"></div>
         </div>
      </div>
      <div class="form-group">
         <label class="col-lg-2 control-label" for="inputPassword2">Jelszó megerősítése</label>
         <div class="col-lg-10">
            <input type="password" class="form-control" name="password2" id="inputPassword2" placeholder="Jelszó megerősítése" required data-match="#inputPassword" data-required-error="A mező kitöltése kötelező!" data-match-error="Nem egyezik a két jelszó!">
            <div class="help-block with-errors"></div>
         </div>
      </div>
      {% elif entityType=="vehicle" %}
      <legend>Jármű módosítása</legend>
      <div class="form-group">
         <label class="col-lg-2 control-label">Rendszám</label>
         <div class="col-lg-10">
            <input type="text" class="form-control" id="inputLicense_plate" name="license_plate" value="{{ entity.license_plate }}" placeholder="Rendszám" readonly>
            <div class="help-block with-errors"></div>
         </div>
      </div>
      <div class="form-group">
         <label class="col-lg-2 control-label" for="inputManufacturer">Gyártó</label>
         <div class="col-lg-10">
            <input type="text" class="form-control" id="inputManufacturer" name="manufacturer" value="{{ entity.manufacturer }}" placeholder="Gyártó" required data-required-error="A mező kitöltése kötelező!">
            <div class="help-block with-errors"></div>
         </div>
      </div>
      <div class="form-group">
         <label class="col-lg-2 control-label">Típus</label>
         <div class="col-lg-10">
            <input type="text" class="form-control" id="inputType" name="type" value="{{ entity.type }}" placeholder="Típus">
            <div class="help-block with-errors"></div>
         </div>
      </div>
      <div class="form-group">
         <label class="col-lg-2 control-label">Kategória</label>
         <div class="col-lg-10">
            <input type="text" class="form-control" id="inputCategory" name="category" value="{{ entity.category }}" placeholder="Kategória">
            <div class="help-block with-errors"></div>
         </div>
      </div>
      {% elif entityType=="trip" %}
      <legend>Túra módosítása</legend>
      <div class="form-group">
         <label class="col-lg-2 control-label">Honnan</label>
         <div class="col-lg-10">
            <input type="text" class="form-control" id="inputFrom_site" name="from_site" value="{{ entity.from_site }}" placeholder="Honnan">
         </div>
      </div>
      <div class="form-group">
         <label class="col-lg-2 control-label">Hova</label>
         <div class="col-lg-10">
            <input type="text" class="form-control" id="inputTo_site" name="to_site" value="{{ entity.to_site }}" placeholder="Hova">
         </div>
      </div>
      <div class="form-group">
         <label class="col-lg-2 control-label">Dolgozó</label>
         <div class="col-lg-10">
            <input type="text" class="form-control" id="inputEmployee" name="employee" value="{{ entity.employee }}" placeholder="Dolgozó">
         </div>
      </div>
      <div class="form-group">
         <label class="col-lg-2 control-label">Szállítmány</label>
         <div class="col-lg-10">
            <input type="text" class="form-control" id="inputShipment" name="shipment" value="{{ entity.shipment }}" placeholder="Szállítmány">
         </div>
      </div>
      <div class="form-group">
         <label class="col-lg-2 control-label">Jármű</label>
         <div class="col-lg-10">
            <input type="text" class="form-control" id="inputVehicle" name="vehicle" value="{{ entity.vehicle }}" placeholder="Jármű">
         </div>
      </div>
      {% elif entityType=="shipment" %}
      <legend>Szállítmány módosítása</legend>
      <div class="form-group">
         <label class="col-lg-2 control-label" for="inputSummary">Leírás</label>
         <div class="col-lg-10">
            <textarea class="form-control" id="inputSummary" name="summary" value="{{ entity.summary }}" placeholder="Leírás" required data-required-error="A mező kitöltése kötelező!">{{ entity.summary }}</textarea>
            <!--<input type="text" class="form-control" id="inputSummary" name="summary" value="{{ entity.summary }}" placeholder="Leírás" required data-required-error="A mező kitöltése kötelező!">-->
            <div class="help-block with-errors"></div>
         </div>
      </div>
      <div class="form-group">
         <label class="col-lg-2 control-label">Típus</label>
         <div class="col-lg-10">
            <input type="text" class="form-control" id="inputType" name="type" value="{{ entity.type }}" placeholder="Típus">
            <div class="help-block with-errors"></div>
         </div>
      </div>
      <div class="form-group">
         <label class="col-lg-2 control-label">Súly</label>
         <div class="col-lg-10">
            <input type="text" class="form-control" id="inputWeight" name="weight" value="{{ entity.weight }}" placeholder="Súly">
            <div class="help-block with-errors"></div>
         </div>
      </div>
      {% endif %}
      <input type="hidden" id="inputObjectType" name="objectType" value="{{typeName}}">
      <div class="form-group">
         <div class="col-lg-10 col-lg-offset-2">
            <button type="submit" class="btn btn-primary">Módosítás!</button>
         </div>
      </div>
   </fieldset>
</form>
{% endblock %}
