{% extends 'master' %}
{% block content %}
<script src="/delete-close-activate.js"></script>
<h1 id="bottom">Főoldal</h1>
{% if not currentUser %}
<div class="alert alert-info">
   <strong>Üdvözöljük!</strong> Bejelentkezhet az oldalra a jobb felső sarokban. 
</div>
{% else %}
<div class="alert alert-success">
   <strong>Üdvözöljük!</strong> Sikeresen bejelentkezett! 
</div>
{% if currentUser.username == "Admin" or currentUser.is_active %}
<h2>
   {% if currentUser.username == "Admin" %} Teendők, statisztikák
   {% else %} Teendők
   {% endif %}
</h2>
<div class="panel-group">
   <div class="panel panel-default" id="panel4">
      <div class="panel-heading">
         <h3 class="panel-title">
            <a data-toggle="collapse" data-target="#collapseFour" 
               href="#collapseFour">
            Új létrehozása
            </a>
         </h3>
      </div>
      <div id="collapseFour" class="panel-collapse collapse in">
         <div class="panel-body">
            <form action = "/new/shipment" method="GET">
              <input class="btn btn-primary" type="submit" value="Új szállítmány létrehozása"/>
            </form>
            <form action = "/new/trip/own" method="GET">
              <input class="btn btn-primary" type="submit" value="Új saját túra létrehozása"/>
            </form>
            {#<a class="btn btn-primary" href="/new/shipment">Új szállítmány létrehozása</a>
            <a class="btn btn-primary" href="/new/trip/own">Új saját túra létrehozása</a>#}
            {% if currentUser.username == "Admin" %}
            <form action = "/new/trip/" method="GET">
              <input class="btn btn-primary" type="submit" value="Új túra létrehozása"/>
            </form>
            <form action = "/new/employee" method="GET">
              <input class="btn btn-primary" type="submit" value="Új dolgozó létrehozása"/>
            </form>
            <form action = "/new/vehicle" method="GET">
              <input class="btn btn-primary" type="submit" value="Új jármű létrehozása"/>
            </form>
            {#<a class="btn btn-primary" href="/new/trip/">Új túra létrehozása</a>
            <a class="btn btn-primary" href="/new/employee/">Új dolgozó létrehozása</a>
            <a class="btn btn-primary" href="/new/vehicle/">Új jármű létrehozása</a>#}
            {% endif %}
         </div>
      </div>
   </div>
</div>
<div class="panel-group">
   <div class="panel panel-default" id="panel3">
      <div class="panel-heading">
         <h3 class="panel-title">
            <a id="akt_turak_link" data-toggle="collapse" data-target="#collapseThree" 
               href="#collapseThree">
               {% if currentUser.username == "Admin" %}
               Aktuális túrák
               {% else %}
               Aktuális túra
               {% endif %}
            </a>
         </h3>
      </div>
      <div id="collapseThree" class="panel-collapse collapse in">
         <div class="panel-body">
            {% if unclosedTrips.length != 0 %}
            <table class="table-striped table-bordered table-hover" style="width:100%">
               <tr>
                  <th>Id</th>
                  <th>Honnan</th>
                  <th>Hova</th>
                  <th>Dolgozó</th>
                  <th>Szállítmány</th>
                  <th>Jármű</th>
                  <th>Kezdés</th>
                  <!--<th>Befejezés</th>-->
                  <!--<th>Műveletek</th>-->
               </tr>
               {% for trip in unclosedTrips %}
               <tr>
                  <td>{{ trip.id }}</td>
                  <td>{{ trip.from_site }}</td>
                  <td>{{ trip.to_site }}</td>
                  <td>{{ trip.employee }}</td>
                  <td>{{ trip.shipment }}</td>
                  <td>{{ trip.vehicle }}</td>
                  <td>{{ trip.start_date }}</td>
                  <!--<td>{{ trip.end_date }}</td>-->
                  <!--<td style="width:250px; text-align: center;">
                     {#<a class="btn btn-warning" href="/close/trip/{{ trip.id }}">Befejezés</a>#}
                     <form class="closeTrip" action = "/close/trip/{{ trip.id }}" method="GET">
                        {{ csrfField }}
                        <input class="btn btn-warning" type="submit" value="Befejezés"/>
                     </form>
                     {% if currentUser.username == "Admin" %}
                     {#<a class="btn btn-danger" href="/delete/trip/{{ trip.id }}">Törlés</a>#}
                     <form class="deleteTrip" action = "/delete/trip/{{ trip.id }}" method="GET">
                        {{ csrfField }}
                        <input class="btn btn-danger" type="submit" value="Törlés"/>
                     </form>
                     {% endif %}
                  </td>-->
               </tr>
               {% endfor %}
            </table>
            {% else %}
            <div class="alert alert-info">
               Nincs jelenleg úton lévő túra. 
            </div>
            {% endif %}
         </div>
      </div>
   </div>
</div>
{% if currentUser.username == "Admin" %}
<div class="panel-group">
   <div class="panel panel-default" id="panel1">
      <div class="panel-heading">
         <h3 class="panel-title">
            <a data-toggle="collapse" data-target="#collapseOne" 
               href="#collapseOne">
            Dolgozók által használt járművek
            </a>
         </h3>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
         <div class="panel-body">
            {% for employee in employeesVehicles%}
            {% if employee.vehicleList.length == 0 %}
            <div class="alert alert-info">
               <strong>{{employee.fullname}} ({{employee.username}})</strong>
               Ez a dolgozó még nem vezetett járművet.
            </div>
            {% else %}
            <div class="alert alert-success">
               <strong>{{employee.fullname}} ({{employee.username}})</strong>
            </div>
            <table class="table-striped table-bordered table-hover" style="width:100%">
               <tr>
                  <th>Rendszám</th>
                  <th>Gyártó</th>
                  <th>Típus</th>
                  <th>Kategória</th>
               </tr>
               {% for vehicle in employee.vehicleList %}
               <tr>
                  <td>{{vehicle.license_plate}}</td>
                  <td>{{vehicle.manufacturer}}</td>
                  <td>{{vehicle.type}}</td>
                  <td>{{vehicle.category}}</td>
               </tr>
               {% endfor %}
            </table>
            <br>
            {% endif %}
            {% endfor %}
         </div>
      </div>
   </div>
</div>
<div class="panel-group">
   <div class="panel panel-default" id="panel2">
      <div class="panel-heading">
         <h3 class="panel-title">
            <a data-toggle="collapse" data-target="#collapseTwo" 
               href="#collapseTwo">
            Járművek által teljesített túrák
            </a>
         </h3>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse in">
         <div class="panel-body">
            {% for vehicle in vehiclesTrips%}
            {% if vehicle.tripList.length == 0 %}
            <div class="alert alert-info">
               <strong>{{vehicle.license_plate}}</strong>
               Ehhez a járműhöz nem tartozik túra.
            </div>
            {% else %}
            <div class="alert alert-success">
               <strong>{{vehicle.license_plate}}</strong>
            </div>
            <table class="table-striped table-bordered table-hover" style="width:100%">
               <tr>
                  <th>Túra ID</th>
                  <th>Honnan</th>
                  <th>Hova</th>
                  <th>Szállítmány ID</th>
                  <th>Kezdés</th>
                  <th>Befejezés</th>
               </tr>
               {% for trip in vehicle.tripList %}
               <tr>
                  <td>{{trip.id}}</td>
                  <td>{{trip.from_site}}</td>
                  <td>{{trip.to_site}}</td>
                  <td>{{trip.shipment}}</td>
                  <td>{{trip.start_date}}</td>
                  <td>{{trip.end_date}}</td>
               </tr>
               {% endfor %}
            </table>
            <br>
            {% endif %}
            {% endfor %}
         </div>
      </div>
   </div>
</div>
{% endif %}
<a href="#bottom">Oldal tetejére</a>
{% endif %}
{% if not currentUser.is_active %}
<div class="alert alert-warning">
   A felhasználó inaktív állapotban van! 
</div>
{% endif %}
{% endif %}
{% endblock %}
