{% extends 'master' %}

{% block content %}
  <h1>Főoldal</h1>

{% if not currentUser %}
  <div class="alert alert-info">
    <strong>Üdvözöljük!</strong> Bejelentkezhet az oldalra a jobb felső sarokban. 
  </div>
{% else %}
  <div class="alert alert-success">
    <strong>Üdvözöljük!</strong> Sikeresen bejelentkezett! 
  </div>
  {% if currentUser.username == "Admin" or currentUser.is_active %}
  <h2>Teendők</h2>
  <h3>Új létrehozás</h3>
  <a class="btn btn-primary" href="/new/shipment">Új szállítmány létrehozása</a>
  <a class="btn btn-primary" href="/new/trip/own">Új saját túra létrehozása</a>
  {% if currentUser.username == "Admin" %}
  <a class="btn btn-primary" href="/new/trip/">Új túra létrehozása</a>
  <a class="btn btn-primary" href="/new/employee/">Új dolgozó létrehozása</a>
  <a class="btn btn-primary" href="/new/vehicle/">Új jármű létrehozása</a>
  {% endif %}
  {% if currentUser.username == "Admin" %}<h3>Aktuális túrák</h3>
  {% else %}<h3>Aktuális túra</h3>
  {% endif %}
  {% if entities.length != 0 %}
  <table class="table-striped table-bordered table-hover" style="width:100%">
    <tr>
        <th>Id</th>
        <th>Honnan</th>
        <th>Hova</th>
        <th>Dolgozó</th>
        <th>Szállítmány</th>
        <th>Jármű</th>
        <th>Kezdés</th>
        <th>Befejezés</th>
        <th>Műveletek</th>
    </tr>
    {% for trip in entities %}
    <tr>
        <td>{{ trip.id }}</td>
        <td>{{ trip.from_site }}</td>
        <td>{{ trip.to_site }}</td>
        <td>{{ trip.employee }}</td>
        <td>{{ trip.shipment }}</td>
        <td>{{ trip.vehicle }}</td>
        <td>{{ trip.start_date }}</td>
        <td>{{ trip.end_date }}</td>
        <td style="width:250px" align="center">
            <a class="btn btn-warning" href="/close/trip/{{ trip.id }}">Befejezés</a>
            <a class="btn btn-danger" href="/delete/trip/{{ trip.id }}">Törlés</a>
            <a class="btn btn-success" href="/edit/trip/{{trip.id}}">Módosítás</a>
        </td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <div class="alert alert-info">
    Nincs jelenleg úton lévő túra. 
  </div>
  {% endif %}
  {% if currentUser.username == "Admin" %}
  <h3>Dolgozók által használt járművek (SOK-SOK? employe-trip-vehicle)</h3>
  <table class="table-striped table-bordered table-hover" style="width:100%">
    <tr>
        <th>Dolgozó</th>
        <th>Teljes név</th>
        <th>Email</th>
        <th>Rendszám</th>
        <th>Gyártó</th>
        <th>Típus</th>
        <th>Kategória</th>
    </tr>
  </table>
  <h3>Járművek által teljesített túrák (EGY-SOK? vehicle-trip)</h3>
  <table class="table-striped table-bordered table-hover" style="width:100%">
    <tr>
        <th>Rendszám</th>
        <th>Gyártó</th>
        <th>Típus</th>
        <th>Kategória</th>
        <th>Honnan</th>
        <th>Hova</th>
        <th>Szállítmány ID</th>
        <th>Kezdés</th>
        <th>Befejezés</th>
    </tr>
  </table>
  {% endif %}
  {% endif %}
  {% if not currentUser.is_active %}
    <div class="alert alert-warning">
      <strong>Figyelem!</strong> A felhasználó inaktív állapotban van! 
    </div>
  {% endif %}
{% endif %}

{% endblock %}