{% extends 'master' %}

{% block content %}
{% if entityType == "employees" %}
    <h1 id="bottom"><small>Dolgozók listája{% if currentUser.username=="Admin" %} <a class="btn btn-primary" href="/new/employee">Új dolgozó</a>{% endif %}</small></h1>
    <table class="table-striped table-bordered table-hover" style="width:100%">
    <tr>
        <th>ID</th>
        <th>Felhasználói név</th>
        <th>Teljes név</th>
        <th>Email</th>
        <th>Telefon</th>
        <th>Aktív</th>
        {% if currentUser.username=="Admin" %} <th>Műveletek</th> {% endif %}
    </tr>
    {% for employee in entities %}
    <tr>
        <td>{{ employee.id }}</td>
        <td>{{ employee.username }}</td>
        <td>{{ employee.fullname }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.telephone }}</td>
        <td>{% if employee.is_active %} Aktív {% else %} Inaktív {% endif %}</td>
        {% if currentUser.username=="Admin" %}<td style="width:250px" align="center"><a class="btn btn-warning" href="/edit/employee/{{ employee.id }}">Módosítás</a> {% if employee.username!="Admin" %}{% if employee.is_active %} <a class="btn btn-danger" href="/inactivate/employee/{{ employee.id }}">Inaktiválás</a> {% else %} <a class="btn btn-success" href="/activate/employee/{{ employee.id }}">Aktiválás</a>{% endif %}{% endif %}</td>{% endif %}
    </tr>
    {% endfor %}
    </table>
    <a href="#bottom">Oldal tetejére</a>
{% elif entityType == "vehicles" %}
    <a class="btn btn-default" href="../../new/vehicle">Új jármű</a>
    <h1>Járművek listája</h1>
    <table style="width:100%">
    <tr>
        <th>Id</th>
        <th>Rendszám</th>
        <th>Gyártó</th>
        <th>Típus</th>
        <th>Kategória</th>
        <th>Elérhető</th>
        <th>Aktív</th>
    </tr>
    {% for vehicle in entities %}
    <tr>
        <td>{{ vehicle.id }}</td>
        <td>{{ vehicle.license_plate }}</td>
        <td>{{ vehicle.manufacturer }}</td>
        <td>{{ vehicle.type }}</td>
        <td>{{ vehicle.category }}</td>
        <td>{% if vehicle.is_available %} Szabad {% else %} Foglalt {% endif %}</td>
        <td>{% if vehicle.is_active %} Aktív {% else %} Inaktív {% endif %}</td>
    </tr>
    {% endfor %}
    </table>
{% elif entityType == "sites" %}
    {# <a class="btn btn-default" href="../../new/site">Új telephely</a> #}
    <h1>Telephelyek listája</h1>
    <table style="width:100%">
    <tr>
        <th>Id</th>
        <th>Név</th>
        <th>Ország</th>
        <th>Város</th>
        <th>Cím</th>
        <th>Irányítószám</th>
    </tr>
    {% for site in entities %}
    <tr>
        <td>{{ site.id }}</td>
        <td>{{ site.name }}</td>
        <td>{{ site.country }}</td>
        <td>{{ site.city }}</td>
        <td>{{ site.address }}</td>
        <td>{{ site.zip }}</td>
    </tr>
    {% endfor %}
    </table>
{% elif entityType == "trips" %}
    <a class="btn btn-default" href="../../new/trip">Új túra</a>
    <h1>Túrák listája</h1>
    <table style="width:100%">
    <tr>
        <th>Id</th>
        <th>Honnan</th>
        <th>Hova</th>
        <th>Dolgozó</th>
        <th>Szállítmány</th>
        <th>Jármű</th>
        <th>Kezdés</th>
        <th>Befejezés</th>
    </tr>
    {% for trip in entities %}
    <tr>
        <td>{{ trip.id }}</td>
        <td>{{ trip.from_site }}</td>
        <td>{{ trip.to_site }}</td>
        <td>{{ trip.employee }}</td>
        <td>{{ trip.shipment }}</td>
        <td>{{ trip.vehicle }}</td>
        <td>{{ trip.start_date }}</td>
        <td>{{ trip.end_date }}</td>
    </tr>
    {% endfor %}
    </table>
{% elif entityType == "shipments" %}
    <a class="btn btn-default" href="../../new/shipment">Új szállítmány</a>
    <h1>Szállítmányok listája</h1>
    <table style="width:100%">
    <tr>
        <th>Id</th>
        <th>Leírás</th>
        <th>Típus</th>
        <th>Súly</th>
    </tr>
    {% for shipment in entities %}
    <tr>
        <td>{{ shipment.id }}</td>
        <td>{{ shipment.summary }}</td>
        <td>{{ shipment.type }}</td>
        <td>{{ shipment.weight }}</td>
    </tr>
    {% endfor %}
    </table>
{% endif %}
{% endblock %}