{% extends 'master' %}

{#
{% if currentUser.username=="Admin" %}
{% if currentUser.is_active %} 
{% endif %}
#}

{% block content %}
<script src="/delete-close-activate.js"></script>
<h1 id="bottom">
   {% if entityType == "employees" %}
   Dolgozók listája
   {% if currentUser.username=="Admin" %}
   <a class="btn btn-primary" href="/new/employee">Új dolgozó</a>
   {% endif %}
</h1>
<table class="table-striped table-bordered table-hover" style="width:100%">
<tr>
   <th>ID</th>
   <th>Felhasználói név</th>
   <th>Teljes név</th>
   <th>Email</th>
   <th>Telefon</th>
   <th>Aktív</th>
   {% if currentUser %}
   <th>Műveletek</th>
   {% endif %}
</tr>
{% for employee in entities %}
<tr>
   <td>{{ employee.id }}</td>
   <td>{{ employee.username }}</td>
   <td>{{ employee.fullname }}</td>
   <td>{{ employee.email }}</td>
   <td>{{ employee.telephone }}</td>
   <td>
      {% if employee.is_active %} Aktív {% else %} Inaktív {% endif %}
   </td>
   {% if currentUser %}
   <td style="width:250px; text-align: center;">
      {% if currentUser.username=="Admin" or currentUser.id==employee.id %}
      <a class="btn btn-warning" href="/edit/employee/{{ employee.id }}">Módosítás</a>
      {% endif %}
      {% if currentUser.username=="Admin" and employee.username!="Admin"%}
      {% if employee.is_active %}
      {#<a class="btn btn-danger" href="/inactivate/employee/{{ employee.id }}">Inaktiválás</a>#}
      <form class="inactivateEmployee" action = "/inactivate/employee/{{ employee.id }}" method="GET">
      {{ csrfField }}
        <input class="btn btn-danger" type="submit" value="Inaktiválás"/>
      </form>
      {% else %}
      {#<a class="btn btn-success" href="/activate/employee/{{ employee.id }}">Aktiválás</a>#}
      <form class="activateEmployee" action = "/activate/employee/{{ employee.id }}" method="GET">
      {{ csrfField }}
        <input class="btn btn-success" type="submit" value="Aktiválás"/>
      </form>
      {% endif %}
      {% endif %}
   </td>
   {% endif %}
</tr>
{% endfor %}
{% elif entityType == "vehicles" %}
{% if entityFilter == undefined %} Járművek listája
{% elif entityFilter == "free" %} Szabad járművek listája
{% elif entityFilter == "driven" %} Vezetett járműveim listája
{% endif %}
{% if currentUser.username=="Admin" %}
<a class="btn btn-primary" href="/new/vehicle">Új jármű</a>
{% endif %}
</h1>
<table class="table-striped table-bordered table-hover" style="width:100%">
<tr>
   <th>ID</th>
   <th>Rendszám</th>
   <th>Gyártó</th>
   <th>Típus</th>
   <th>Kategória</th>
   <th>Elérhető</th>
   <th>Aktív</th>
   {% if currentUser.username=="Admin" %}
   <th>Műveletek</th>
   {% endif %}
</tr>
{% for vehicle in entities %}
<tr>
   <td>{{ vehicle.id }}</td>
   <td>{{ vehicle.license_plate }}</td>
   <td>{{ vehicle.manufacturer }}</td>
   <td>{{ vehicle.type }}</td>
   <td>{{ vehicle.category }}</td>
   <td>
      {% if vehicle.is_available %} Szabad {% else %} Foglalt {% endif %}
   </td>
   <td>
      {% if vehicle.is_active %} Aktív {% else %} Inaktív {% endif %}
   </td>
   {% if currentUser.username=="Admin" %}
   <td style="width:250px; text-align: center;">
      {% if currentUser.username=="Admin" %}
      <a class="btn btn-warning" href="/edit/vehicle/{{ vehicle.id }}">Módosítás</a>
      {% if vehicle.is_available and vehicle.is_active or not vehicle.is_active %}
      {% if vehicle.is_active %}
      {#<a class="btn btn-danger" href="/inactivate/vehicle/{{ vehicle.id }}">Inaktiválás</a>#}
      <form class="inactivateVehicle" action = "/inactivate/vehicle/{{ vehicle.id }}" method="GET">
      {{ csrfField }}
        <input class="btn btn-danger" type="submit" value="Inaktiválás"/>
      </form>
      {% else %}
      {#<a class="btn btn-success" href="/activate/vehicle/{{ vehicle.id }}">Aktiválás</a>#}
      <form class="activateVehicle" action = "/activate/vehicle/{{ vehicle.id }}" method="GET">
      {{ csrfField }}
        <input class="btn btn-success" type="submit" value="Aktiválás"/>
      </form>
      {% endif %}
      {% endif %}
      {% endif %}
   </td>
   {% endif %}
</tr>
{% endfor %}
{% elif entityType == "sites" %}
Telephelyek listája
</h1>
<table class="table-striped table-bordered table-hover" style="width:100%">
<tr>
   <th>Id</th>
   <th>Név</th>
   <th>Ország</th>
   <th>Város</th>
   <th>Cím</th>
   <th>Irányítószám</th>
</tr>
{% for site in entities %}
<tr>
   <td>{{ site.id }}</td>
   <td>{{ site.name }}</td>
   <td>{{ site.country }}</td>
   <td>{{ site.city }}</td>
   <td>{{ site.address }}</td>
   <td>{{ site.zip }}</td>
</tr>
{% endfor %}
{% elif entityType == "trips"%}
{% if entityFilter == undefined %} Túrák listája <a class="btn btn-primary" href="/new/trip">Új túra</a>
{% elif entityFilter == "own" %} Saját túráim listája <a class="btn btn-primary" href="/new/trip/own">Új saját túra</a>
{% endif %}
</h1>
<table class="table-striped table-bordered table-hover" style="width:100%">
<tr>
   <th>Id</th>
   <th>Honnan</th>
   <th>Hova</th>
   <th>Dolgozó</th>
   <th>Szállítmány ID</th>
   <th>Jármű</th>
   <th>Kezdés</th>
   <th>Befejezés</th>
   <th>Műveletek</th>
</tr>
{% for trip in entities %}
<tr>
   <td>{{ trip.id }}</td>
   <td>{{ trip.from_site }}</td>
   <td>{{ trip.to_site }}</td>
   <td>{{ trip.employee }}</td>
   <td>{{ trip.shipment }}</td>
   <td>{{ trip.vehicle }}</td>
   <td>{{ trip.start_date }}</td>
   <td>{{ trip.end_date }}</td>
   <td style="width:250px; text-align: center;">
      {% if trip.end_date==null %}
      {% if currentUser.username=="Admin" or currentUser.username==trip.employee %}
      {#<a class="btn btn-warning" href="/close/trip/{{ trip.id }}">Befejezés</a>#}
      <form class="closeTrip" action = "/close/trip/{{ trip.id }}" method="GET">
      {{ csrfField }}
        <input class="btn btn-warning" type="submit" value="Befejezés"/>
      </form>
      {% endif %}
      {% endif %}
      {% if currentUser.username=="Admin" %}
      {% if trip.end_date==null %}
      {#<a class="btn btn-danger deleteTrip" href="/delete/trip/{{ trip.id }}">Törlés</a>#}
      <form class="deleteTrip" action = "/delete/trip/{{ trip.id }}" method="GET">
      {{ csrfField }}
        <input class="btn btn-danger" type="submit" value="Törlés"/>
      </form>
      {% endif %}
      {% endif %}
   </td>
</tr>
{% endfor %}
{% elif entityType == "shipments" %}
Szállítmányok listája
<a class="btn btn-primary" href="/new/shipment">Új szállítmány</a>
</h1>
<table class="table-striped table-bordered table-hover" style="width:100%">
   <tr>
      <th>Id</th>
      <th>Leírás</th>
      <th>Típus</th>
      <th>Súly</th>
      {% if currentUser.username=="Admin" %}
      <th>Műveletek</th>
      {% endif %}
   </tr>
   {% for shipment in entities %}
   <tr>
      <td>{{ shipment.id }}</td>
      <td>{{ shipment.summary }}</td>
      <td>{{ shipment.type }}</td>
      <td>{{ shipment.weight }}</td>
      {% if currentUser.username=="Admin" %}
      <td style="width:250px; text-align: center;">
         <a class="btn btn-warning" href="/edit/shipment/{{ shipment.id }}">Módosítás</a>
      </td>
      {% endif %}
   </tr>
   {% endfor %}
   {% endif %}
</table>
<br>
<a href="#bottom">Oldal tetejére</a>
{% endblock %}
