{% extends 'master' %}

{% block content %}
  <h1>Login</h1>

  {% if old('errors') %}
    <div class="alert alert-danger">
      <ul>
        {% for error in old('errors') %}
          <li> {{ error.message }} </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  {{ form.open({action: 'AuthController.handleLogin'}) }}

    {{ csrfField }}

    <fieldset class="form-group">
      {{ form.label('Email') }}
      {{ form.text('email', old('email'), { class: 'form-control' }) }}
    </fieldset>

    <fieldset class="form-group">
      {{ form.label('Password') }}
      {{ form.text('password', old('password'), { class: 'form-control' }) }}
    </fieldset>

    {{ form.submit('Login', 'login', { class: 'btn btn-primary btn-block' }) }}

  {{ form.close() }}

{% endblock %}