{% extends 'master' %}

{% block content %}
<script src="/suggest.js"></script>
{% if old('errors') %}
<div class="alert alert-danger">
   <ul>
      {% for error in old('errors') %}
      <li><strong>Hiba!</strong> {{ error.message }}</li>
      {% endfor %}
   </ul>
</div>
{% endif %}
<form class="form-horizontal" method="POST">
   {{ csrfField }}
   <fieldset>
      {% if entityType=="employee" %}
      <legend>Új dolgozó</legend>
      <div class="form-group">
         <label class="col-lg-2 control-label">Felhasználónév</label>
         <div class="col-lg-10">
            <input type="text" class="form-control" id="inputUsername" name="username" value="{{ old('username') }}" placeholder="Felhasználónév">
         </div>
      </div>
      <div class="form-group">
         <label class="col-lg-2 control-label">Teljes név</label>
         <div class="col-lg-10">
            <input type="text" class="form-control" id="inputFullname" name="fullname" value="{{ old('fullname') }}" placeholder="Teljes név">
         </div>
      </div>
      <div class="form-group">
         <label class="col-lg-2 control-label">Email</label>
         <div class="col-lg-10">
            <input type="text" class="form-control" id="inputEmail" name="email" value="{{ old('email') }}" placeholder="Email">
         </div>
      </div>
      <div class="form-group">
         <label class="col-lg-2 control-label">Telefon</label>
         <div class="col-lg-10">
            <input type="text" class="form-control" id="inputTelephone" name="telephone" value="{{ old('telephone') }}" placeholder="Telefon">
         </div>
      </div>
      <div class="form-group">
         <label class="col-lg-2 control-label">Jelszó</label>
         <div class="col-lg-10">
            <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Jelszó">
         </div>
      </div>
      <div class="form-group">
         <label class="col-lg-2 control-label">Jelszó megerősítése</label>
         <div class="col-lg-10">
            <input type="password" class="form-control" name="password2" id="inputPassword2" placeholder="Jelszó megerősítése">
         </div>
      </div>
      {% elif entityType=="vehicle" %}
      <legend>Új jármű</legend>
      <div class="form-group">
         <label class="col-lg-2 control-label">Rendszám</label>
         <div class="col-lg-10">
            <input type="text" class="form-control" id="inputLicense_plate" name="license_plate" value="{{ old('license_plate') }}" placeholder="Rendszám">
         </div>
      </div>
      <div class="form-group">
         <label class="col-lg-2 control-label">Gyártó</label>
         <div class="col-lg-10">
            <input type="text" class="form-control" id="inputManufacturer" name="manufacturer" value="{{ old('manufacturer') }}" placeholder="Gyártó">
         </div>
      </div>
      <div class="form-group">
         <label class="col-lg-2 control-label">Típus</label>
         <div class="col-lg-10">
            <input type="text" class="form-control" id="inputType" name="type" value="{{ old('type') }}" placeholder="Típus">
         </div>
      </div>
      <div class="form-group">
         <label class="col-lg-2 control-label">Kategória</label>
         <div class="col-lg-10">
            <input type="text" class="form-control" id="inputCategory" name="category" value="{{ old('category') }}" placeholder="Kategória">
         </div>
      </div>
      {% elif entityType=="trip"%}
      {% if entityFilter==undefined%}
      <legend>Új túra</legend>
      {% elif entityFilter=="own"%}
      <legend>Új saját túra</legend>
      {% endif %}
      <div class="form-group">
         <label class="col-lg-2 control-label">Honnan</label>
         <div class="col-lg-10">
            <input type="text" class="form-control" id="inputFrom_site" name="from_site" value="{{ old('from_site') }}" placeholder="Honnan" autocomplete="off">
            <div class="suggestions-inputFrom_site"></div>
         </div>
      </div>
      <div class="form-group">
         <label class="col-lg-2 control-label">Hova</label>
         <div class="col-lg-10">
            <input type="text" class="form-control" id="inputTo_site" name="to_site" value="{{ old('to_site') }}" placeholder="Hova" autocomplete="off">
            <div class="suggestions-inputTo_site"></div>
         </div>
      </div>
      <div class="form-group">
         <label class="col-lg-2 control-label">Dolgozó</label>
         <div class="col-lg-10">
            {% if entityFilter==undefined%}
            <input type="text" class="form-control" id="inputEmployee" name="employee" value="{{ old('employee') }}" placeholder="Dolgozó" autocomplete="off">
            <div class="suggestions-inputEmployee"></div>
            {% elif entityFilter=="own"%}
            <input type="text" class="form-control" id="inputEmployee" name="employee" value="{{ currentUser.username }}" placeholder="Dolgozó" readonly>
            {% endif %}
         </div>
      </div>
      <div class="form-group">
         <label class="col-lg-2 control-label">Szállítmány</label>
         <div class="col-lg-10">
            <input type="text" class="form-control" id="inputShipment" name="shipment" value="{{ old('shipment') }}" placeholder="Szállítmány">
            <div class="suggestions-inputShipment"></div>
         </div>
      </div>
      <div class="form-group">
         <label class="col-lg-2 control-label">Jármű</label>
         <div class="col-lg-10">
            <input type="text" class="form-control" id="inputVehicle" name="vehicle" value="{{ old('vehicle') }}" placeholder="Jármű">
            <div class="suggestions-inputVehicle"></div>
         </div>
      </div>
      {% elif entityType=="shipment" %}
      <legend>Új szállítmány</legend>
      <div class="form-group">
         <label class="col-lg-2 control-label">Leírás</label>
         <div class="col-lg-10">
            <input type="text" class="form-control" id="inputSummary" name="summary" value="{{ old('summary') }}" placeholder="Leírás">
         </div>
      </div>
      <div class="form-group">
         <label class="col-lg-2 control-label">Típus</label>
         <div class="col-lg-10">
            <input type="text" class="form-control" id="inputType" name="type" value="{{ old('type') }}" placeholder="Típus">
         </div>
      </div>
      <div class="form-group">
         <label class="col-lg-2 control-label">Súly</label>
         <div class="col-lg-10">
            <input type="text" class="form-control" id="inputWeight" name="weight" value="{{ old('weight') }}" placeholder="Súly">
         </div>
      </div>
      {% endif %}
      <input type="hidden" id="inputObjectType" name="objectType" value="{{entityType}}">
      <div class="form-group">
         <div class="col-lg-10 col-lg-offset-2">
            <button type="submit" class="btn btn-primary">Felvétel!</button>
         </div>
      </div>
   </fieldset>
</form>
{% endblock %}
